 h1{
            color: rgb(0, 0, 0);
            font-size: 25px;     
         }
         p{
            color: rgb(228, 146, 23) ;
            font-family: Arial, Helvetica, sans-serif;
         }
         img{
            border: 3px solid rgb(66, 170, 255);
         }